body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.page-nav .link a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  position: relative;
}

.page-nav .link a:hover,
.page-nav .link a:focus {
  color: #404bbf;
}

.page-nav .menu-list .link:first-child .index {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav .menu-list .link:first-child .index::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.page-contacts .contact-list li:first-child a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-contacts a:hover,
.page-contacts a:focus {
  color: #404bbf;
}

.page-contacts .contact-list li:nth-child(2) a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-address {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

#studio {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.stud {
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.page-address .address-list li:first-child a,
.page-address .address-list li:nth-child(2) a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-address a:hover,
.page-address a:focus {
  color: #404bbf;
}

.page-studio {
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/heroimage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  background-size: cover;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-studio .container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.solutions {
  max-width: 496px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.page-button {
  display: block;
  margin: 32px auto 0;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
}

.page-features .feature {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.page-features .feature-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-footer .footer-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.page-nav .logo:hover,
.page-nav .logo:focus,
.page-footer .logo:hover,
.page-footer .logo:focus {
  color: #404bbf;
}

.page-nav .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.page-footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.page-nav .logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-right: 76px;
}

.logo .span {
  color: #2e2f42;
}

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team .social-media-team {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 16px 0 0 0;
  list-style: none;
}

.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.parag {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.member {
  background-color: #fff;
  flex: 0 0 calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-members {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.member-info {
  padding: 32px 0;
  box-sizing: border-box;
}

.page-footer .logo .stud {
  color: #f4f4fd;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-weight: 500;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-nav ul {
  display: flex;
  gap: 40px;
}

.page-address {
  margin-left: auto;
}

.page-address ul {
  display: flex;
  gap: 40px;
}

.page-features {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-features li {
  flex-basis: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
}

.feature {
  margin-bottom: 8px;
}

.our-team ul {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.members-list {
  text-align: center;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  padding: 32px 0;
}

.member-name {
  text-align: center;
  margin-bottom: 8px;
}

.member-position {
  text-align: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.app-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-portfolio {
  margin-bottom: 72px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

* {
  box-sizing: border-box;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  padding: 0;
  margin: 0;
}

.app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  border-radius: 0;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-text {
  transform: translateY(0%);
}

.app-title {
  margin-bottom: 8px;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.portfolio-paragraf {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item:hover .portfolio-paragraf {
  transform: translateY(0%);
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link svg {
  width: 16px;
  height: 16px;
  fill: var(--social-icon-color, #f4f4fd);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-icon {
  fill: var(--social-icon-color, #f4f4fd);
}

.social-list li:first-child a {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.logo-parag {
  margin-right: 120px;
}

.footer-social-media-team {
  display: flex;
  gap: 16px;
}

.social {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-icon-team {
  fill: var(--social-icon-color, #f4f4fd);
}

.footer-social-media-team li:first-child .footer-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
}

.form-sub-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscription {
  margin-left: 80px;
}

.button-icon {
  margin-left: 16px;
}

.form-sub-input {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.form-label input::placeholder {
  color: #ffffff;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.order-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.order-form input:focus {
  border-color: #4d5ae5;
}

.input-plus-icon input:focus + .user-icon {
  color: #4d5ae5;
}

.comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  border-color: #4d5ae5;
}

.modal-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.exit-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exit-btn:hover,
.exit-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.footer-subscr {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-weight: 500;
}

.form-sub {
  display: flex;
  gap: 24px;
}

.btn-icon-exit {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.elements {
  margin-bottom: 8px;
}

label.element-name {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

div.input-plus-icon {
  position: relative;
}

.input-plus-icon-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-icon:focus {
  border-color: #4d5ae5;
}

.user-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area {
  margin-bottom: 16px;
}

.check-field {
  margin-bottom: 24px;
}

.input-check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.check-empty {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .input-check-text > .check-empty {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.input-check:focus + .input-check-text > .check-empty {
  border-color: #404bbf;
}

.input-check-link {
  color: #4d5ae5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.submit-btn {
  display: block;
  width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  margin: auto;
}
